*, *::before, *::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
  
}

a {
	text-decoration: none;
}

ul, ol, li {
	list-style: none;
}

/* ===========GLOBAL===================== */

:root{
    --black:     #000000;
	--blackmhov: #333333;
	--primary:   #FF6D6D;
	--bg-gray:   #F7F7F7;
	--violet:    #AE4CCF;
	--white:     #FFFFFF;
    --lightred:  #c36;
    
	
}

html {
    scroll-behavior: smooth;
  }



.wrapper{
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}


.container{
  max-width: 1250px; 
  margin: 0 auto;
	padding: 0 10px;
}

.row{
  display: flex;	
	margin-left: auto;   
  margin-right: auto;

}

h2{
  font-family: "Montserrat", Sans-serif ;
  font-weight: 700;
  font-size: 32px;
}


@media (max-width: 1250px) {
  h2 {
    font-size:calc(14px + 18*((100vw - 320px)/930))
  }
}

/* ===========HEADER===================== */
.header_top{
	background-color: var(--black);
	padding: 10px 0px;
}

.header_top .row{
	align-items: center;
}
.col_logo{
	padding-right: 20px;
  width: 26%;
}

.col_logo img{
  max-width: 100%;
}

.col_search{
	flex-grow: 1;
}

.col_search input{
	width: 100%;
	height: 44px;
	padding-left: 16px;
}

.col_search input:focus{
	outline: #FFFFFF;
}

.col_search, .col_cabinet, .col_chart, .col_burger{
	padding: 0px  20px;
}

/* Бургер*/

.burger{
  padding: 13px 0px;

}

.burger_line{
  display: block;
  background-color: var(--primary);
  height: 3px;
  width: 32px;
  position: relative;
}

.burger_line::before,
.burger_line::after{
    background: var(--primary);
    content: '';
    display: block;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
    height: 100%;
}
.burger_line::before{
    top: 8px;
}
.burger_line::after{
    top: -8px;
}

.burger.active .burger_line{
  background-color: transparent;
}

.burger.active  .burger_line::before{
  top: 0px;
  transform:  rotate(-45deg) ;
}

.burger.active  .burger_line::after{
  top: 0px;
  transform:  rotate(45deg) ;
}




/* Вторая строка  хедера  - меню*/

.header_menu{
	background-color: var(--primary);
}


.header_menu_list {
	display: flex;
	align-items: center;
}

.header_menu_item{
	display: flex;
  position: relative;
}

.header_menu_item .header_menu_link{
	display: inline-block;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	font-weight: normal;
	color: var(--white);
	text-decoration: none;
	text-transform: uppercase;
	padding: 0px 7px;
}


.header_menu_item .indikator{
	position: relative;
	top: -1px;
}

.header_menu_item .indikator:after {
	content: "";
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 3.5px 0 3.5px;
	border-color: #ffffff transparent transparent transparent;
	margin: 0px 0px 0px 7px;
	transition: all 0.3s ease 0s;
}

/* Субменю  при разр  > 1250 пх */
@media (min-width: 1251px) {

  .header_menu_item:hover{
	  background-color: var(--blackmhov);
  }
  .header_menu_item:hover .sub-menu{
    display: block;
  }
  
  .header_menu_item:last-child .sub-menu{
    right: 0px;
    left: auto;
  }
  
  .header_menu_item:nth-last-child(2) .sub-menu{
    right: 0px;
    left: auto;
  }
  
  .sub-menu {
    display: none;
    position: absolute;
    min-width: 200px;
    
  
    top: 50px;
    left: 0px;
  
    padding: 10px 10px;
    background-color: var(--bg-gray);
    color: var(--blackmhov);
    z-index: 10;
  }
  
  .sub-menu_list li a{
    text-decoration: none;
    line-height: 35px;
    padding: 0px 14px;
    color: #333333;
    white-space: nowrap;
  }

  .col_burger {
    display: none;
  }

}







/* Открываем меню  при разр  < 1250 пх */
@media (max-width: 1250px) {
  /* По умолч. меню закрыто, открываем  классом актив */
  .header_menu{
    display: none;
  }
  .header_menu.active{
    display: block;
  }
  .header_menu.active .header_menu_list{
    display: block;
  }
   /* Делаем  блоки на всю ширину */
  .header_menu.active .header_menu_item{
    display:  block;
    position: relative;
  }

  .header_menu.active .header_menu_list {
    flex-grow: 1;

  }


   /* Убираем паддинги в контейнере меню,  чтобы  белые были на вю ширину */
  .header_menu.active #container_menu{
    padding: 0px;
  }

  .header_menu.active .sub-menu{
    background-color: var(--bg-gray);
    color: var(--blackmhov);
    
  }

  .header_menu.active .sub-menu li{
    
    padding: 10px 25px;
  }

  .header_menu.active .sub-menu a{
    color: var(--blackmhov);
    
  }

  .header_menu_item .sub-menu{
    display:  none; 
  }
  .header_menu_item.open .sub-menu{
    display:  block; 
  }




}


@media (max-width: 768px){
  .col_logo{
    width: 174px;
  }
  .col_search input{
    display: none;
  }

  .col_search, .col_cabinet, .col_chart, .col_burger{
    padding: 0px  10px;
  }

}



/* ===========Section first_slider===================== */

.first_slider{
  padding: 60px 0px;
}
.first_slider_col{
  min-width: 0;
}

.first_slider .swiper{
  position: relative;
}

.first_slider .swiper-slide img{
  max-width: 100%;
}

.first_slider .swiper-scrollbar{
  display: none;
}

.swiper-pagination-bullet-active{
  background-color: var(--primary);
}

/* ================================ */


.first_slider-swiper-button-prev{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary);
  position: absolute;
  left: 0px;
  top: 50%;
  z-index: 1;
  
}
.first_slider-swiper-button-prev img{
  transform: rotateY(180deg);
  position: relative;
  top: 8px;
  left: 8px;
}

.first_slider-swiper-button-next{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary);
  position: absolute;
  right: 0px;
  top: 50%;
  z-index: 1;
  
}
.first_slider-swiper-button-next img{
  position: relative;
  top: 8px;
  left: 8px;
}

@media (max-width: 768px){
  .first_slider-swiper-button-prev, .first_slider-swiper-button-next{
    display: none;
  }


}

/* ===========Section navi===================== */

.navi{
  padding: 60px 0px;
  background-color: var(--bg-gray);
}

.navi h2{
  color: var(--primary);
  line-height: 1.5em;
  text-align: center;
  margin-bottom: 20px;
  max-width: 1158px;
}

.navi_row_items{
  column-gap: 1.6%  ;
  flex-wrap: wrap;
  row-gap: 20px;
}

.navi_item{
  width: 23.8%;
  
}

.inner_navi_item{
  width: 100%;
  padding-bottom: 136.8%;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

.inner_navi_item img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  
}

.inner_navi_text{
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat", Sans-serif ;
  text-transform: uppercase;
  color: var(--lightred);
}



@media (max-width: 768px){
  .navi_item{
    width: 48.7%;
  }
  .navi_row_items{
    column-gap: 2.6%  ;
  }


}






/*===============*/
.first_main{
  padding: 300px 0px;
  background-color: var(--white);
}